body {
  color: rgb(0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/950/original/pexels-mylo-kaye-10785618.jpg?1681929358");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
nav {
  margin: 0 auto;
  background-color: greenyellow;
  padding: 0.6%;
  font-size: 23px;
}
nav span {
  padding: 1%;
}

nav a {
  color: black;
  transition: all 200ms ease-in-out;
}

nav a:hover {
  color: blue;
  transition: all 200ms ease-in-out;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/670/original/pexels-jéshoots-230743.jpg?1681788031");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 130px 0;
  font-weight: 100;
  line-height: 30px;
  margin: 0 auto;
  display: block;
}

header h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 90px;
}
header h6 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 40px;
  color: greenyellow;
}

main {
  text-align: center;
  margin: 0 auto;
  color: white;
}

main h2 {
  color: black;
  text-align: center;
  font-size: 40px;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/671/original/pexels-isaw-company-1005406.jpg?1681788042");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  font-weight: 600;
  color: greenyellow;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:hover {
  transition: all 200ms ease-in-out;
  color: rgb(255, 170, 0);
}
.container {
  padding: 0;
  margin: 0 auto;
  max-width: 1500px;
  background-color: white;
  box-shadow: 5px 10px 6px rgb(23, 23, 23);
}
.intro {
  margin: 0 auto;

  background-size: 100%;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  padding: 5%;
}

.intro h3 {
  font-size: 30px;
}

.intro p {
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

.intro iframe {
  box-shadow: 4px 4px 6px grey;
  margin: 0 auto;
  display: block;
  text-align: center;
  max-width: 100%;
}
.introduction-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
}

/* Menu */
.madewithlove {
  padding: 2%;
  background-color: black;
}

.menu {
  display: grid;
  grid-gap: 10px;
}

.grid-menu {
  margin: 0 auto;
  padding: 4%;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/670/original/pexels-jéshoots-230743.jpg?1681788031");
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.grid-menu div {
  border-radius: 10px;
  line-height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
}

.grid-menu div p {
  padding: 4%;
}

.menu {
  display: flex;
}

.menu div {
  box-shadow: 4px 4px 6px rgb(0, 0, 0);
  max-width: 450px;
  transition: all 400ms ease-in-out;
}

.menu div:hover {
  transition: all 500ms ease-in-out;
  filter: brightness(1.2);
}

.menu img {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

.menu h6 {
  margin: 20px auto;
  padding: 0 auto;
  color: wheat;
  font-size: 30px;
}

.feijao {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/673/original/1.-pastel-feijao-768x432.jpg?1681790513");
}

.deus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/674/original/2.-pao-de-deus-768x432.jpg?1681790518");
}

.brioche {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/675/original/3.-croissant-brioche-768x432.jpg?1681790530");
}

.queque {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/679/original/4.-queque-768x432.jpg?1681790584");
}

.arroz {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/680/original/5.-bolo-arroz-768x432.jpg?1681790590");
}

.queijada {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/681/original/6.-queijada-768x432.jpg?1681790597");
}

.travesseiros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/682/original/7.-travesseiros-768x432.jpg?1681790603");
}

.jesuita {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/683/original/8.-jesuitas-768x432.jpg?1681790611");
}

.bocado {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/684/original/9-bom-bocado-768x432.jpg?1681790617");
}

.salame {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/685/original/10.-salame-de-chocolate-768x432.jpg?1681790628");
}

/*Delivery */
.delivery-container {
  text-align: left;
  color: black;
  background-color: wheat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
}
.delivery-container form {
  max-width: 100%;
  padding: 5%;
}

.form-container label {
  padding: 2%;
  max-width: 100%;
  font-size: 35px;
  text-align: center;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.delivery-container input {
  max-width: 100%;
  padding: 0.5%;
}

.delivery-container img {
  box-shadow: 4px 4px 6px grey;
  max-width: 100%;
}

.follow-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/837/original/pexels-lisa-fotios-1599497.jpg?1681875935");
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1%;
  margin: 0 auto;
}

.inst-frame {
  margin: 10px auto;
  max-width: 400px;
}

/* Contact */
.contactus {
  padding: 1%;
  text-align: start;
  background-color: rgb(0, 0, 0);
  color: white;
}
.contact-container {
  color: white;
  padding: 2%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.contact-container i {
  color: greenyellow;
  font-size: 30px;
  padding: 10px;
}

.section-contact {
  text-align: center;
  font-size: 20px;
}

.address {
  font-weight: 600;
  font-size: 18px;
  padding: 1%;
  color: black;
  background-color: wheat;
  text-align: center;
}

.sourcecode {
  text-align: center;
  background-color: black;
}

@media (max-width: 760px) {
  header h1 {
    font-size: 40px;
  }
  header h6 {
    font-size: 25px;
  }
  blockquote {
    padding: 0;
    margin: 0 auto;
    display: block;
    max-width: 100px;
  }
  #dnone {
    display: none;
  }

  .follow {
    display: none;
  }
  .introduction-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .menu {
    display: block;
  }
  .delivery-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .delivery-container img {
    display: none;
  }

  .follow {
    margin: 0 auto;
    padding: 0 auto;
  }
  .follow-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .follow-container .inst-frame {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 100px;
    text-align: center;
    display: block;
  }
}
